body, html {
    margin: 0;
    min-height: 100%;
    font-family: 'Lato';
    max-width: 100vw;
    left: 0;
    position: relative;
}

div#content {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
    min-height: 100%;
    overflow: hidden;
}
ul {
    padding: 0;
}


/*------------------------------
    TEXT
------------------------------*/

h2 {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 18px;
    padding-left: 18px;
    font-weight: 400;
    color: #2b2a28;
}

p.subheading {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #909090;
    text-transform: uppercase;
    margin-top: -25px;
    margin-bottom: 45px;
}

a {
    color: #000;
}


/*------------------------------
    HEADER
------------------------------*/

header {
    max-width: 1280px;
    height: 80px;
    background: #fff;
    color: #333;
    display: block;
    margin: 0 auto;
}

div#logo {
    float: left;
}

div#logo>a>img {
    height: 52px;
    width: auto;
    line-height: 80px;
    margin-left: 13px;
    margin-top: 13px;
}

#menuBottomLine {
    width: 100%;
    position: relative;
    ;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #777;
}


/*------------------------------
    MENU
------------------------------*/

nav.header_menu {
    float: right;
    height: 80px;
}

nav.header_menu>div, .header_menu>div>ul {
    line-height: 80px;
    height: 80px;
    margin: 0;
    float: right;
    margin-right: 20px;
}

nav.header_menu>div>ul>li {
    display: inline-block;
}

nav.header_menu>div>ul>li>a {
    padding: 5px 20px;
    text-decoration: none;
    color: #333;
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

nav.header_menu>div>ul>li>a:hover {
    text-decoration: underline;
}

div#wrapper {
    margin: 0 auto;
    display: block;
}

nav.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
    left: 0;
    height: 50px;
    border-bottom: 1px solid #777;
}

nav.main-nav-scrolled>div.menu-header-menu-container>ul {
    height: 50px;
    line-height: 50px;
}

a.active {
    text-decoration: underline !important;
}

div.submenu {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
}


/*------------------------------
    MOBILE MENU
------------------------------*/

#showMobileMenu {
    display: none;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: fixed;
    z-index: 999999;
}


/*------------------------------
    TOP SLIDER
------------------------------*/

div.siema>div>div {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div.siema>div>div>img {
    position: relative;
    height: auto;
}


/*------------------------------
    COVERS
------------------------------*/

section#kosciol {
    overflow: hidden;
    min-height: 100px;
}

div#topCovers>div.coverImg {
    width: 610px;
}

div#bottomCovers>div.coverImg {
    width: 400px;
}

div.coverImg {
    float: left;
    margin: 10px;
    max-height: 388px;
    overflow: hidden;
}

div.coverImg>img {
    width: 100%;
}

div#bottomCovers>div {
    max-height: 264px;
    margin: 10px;
}

img.hoverCover {
    display: none;
}

div.coverImg>a>img {
    width: 100%;
}


/*------------------------------
    ABOUT
------------------------------*/

div.about_element {
    min-height: 100px;
    overflow: hidden;
}

div#about1 {}

div.aboutBg>img {
    height: auto;
    position: relative;
    right: 0;
}

div.aboutBg {
    right: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    min-height: 100px;
    overflow: hidden;
    width: 100%;
    background-position: right !important;
    background-size: cover !important;
}

section#onas {
    overflow: hidden;
    min-height: 100px;
}

div.aboutText {
    z-index: 1;
    float: left;
    text-align: justify;
    text-align-last: left;
    -ms-text-align-last: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 50%;
    padding-bottom: 50px;
}

div#about5>div>p {
    line-height: 1.7;
}

div.aboutTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    padding-top: 20px;
}

li.aboutTab, li.aboutTab>a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    outline: none;
}

li.aboutTab:first-child>a {
    border: none;
}

li.aboutTab>a {
    padding: 0 10px;
    border-left: 1px solid #000;
}

li.aboutTab:hover>a {
    text-decoration: underline;
}

span.wartosciTitle {
    font-size: 36px;
    font-weight: 400;
}

div#about4>div.aboutText {
    width: 94%;
    color: #fff;
}

span.credoBold {
    font-size: 26px;
}

div.aboutText>p>strong {
    font-size: 14px;
}

span.post-meta-key {
    display: none;
}

div#about4>div>ul {
    color: #fff;
}

ul.post-meta {
    list-style: none;
    margin: 10px 0;
}

div#about1>div>ul.post-meta {
    margin: 30px 0;
}

div#about6>div.aboutText {
    width: 60%;
}

li.ui-state-active>a {
    text-decoration: underline;
}


/*------------------------------
    NEWS
------------------------------*/

div#newsBox {
    height: 410px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

div.newsItem {
    width: 320px;
    border: 1px solid #777;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin: 0 20px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 40px;
}

div.newsItem>p {
    font-size: 18px;
}

div.newsItem>img {
    width: 100%;
    height: auto;
    background: #000;
}

p.newsTitle {
    color: #fff;
    margin-top: -42px;
    margin-bottom: 0px;
    font-size: 24px;
    position: relative;
    padding-bottom: 15px;
    padding-top: 0px;
}

div.newsItem>ul>li {
    font-size: 22px;
}

div.newsOverlay {
    width: 320px;
    height: 320px;
    z-index: 0;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    display: none;
    margin-top: -325px;
}

div#galleryBoxP>a>div>div.newsOverlay {
    margin-top: -320px;
}

div#galleryBoxP>a>div>p.newsTitle {
    margin-top: -36px;
}

div#galleryBoxP {
    width: 1090px;
    margin: 0 auto;
}

.morebutton {
    text-align: center;
    display: block;
    top: -100px;
    position: relative;
}


/*------------------------------
    FILMS
------------------------------*/

section#kazania {
    margin-bottom: 50px;
    overflow: hidden;
    min-height: 100px;
}

div.ytFilms {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100px;
}

div.ytFilms>iframe {
    display: block;
    float: left;
    width: 32.5%;
    position: relative;
    height: 200px;
    margin: 0 5px;
}

a.ytLink {
    text-align: center;
    color: #555;
    display: block;
    margin: 0 auto;
    line-height: 50px;
}


/*------------------------------
    JEZUS
------------------------------*/

section#Jezus {
    overflow: hidden;
    min-height: 100px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 70px;
}

.JBG {
    position: absolute;
    width: 100%;
    background: #e6e6e6;
    height: 200px;
    left: 0;
    z-index: -1;
    padding: 20px 0 35px 0;
}

div#jContent>p {
    text-align: justify;
}

div#leftJ {
    width: 49%;
    background: #24bcbf;
    color: #fff;
    height: 150px;
    margin: 70px 1% 0 0;
    float: left;
}

div#leftJ>ul {
    padding: 30px;
}

div#rightJ {
    width: 49%;
    height: 150px;
    margin: 70px 0 0 1%;
    float: right;
}

form.wpcf7-form {
    width: 100%;
}

.wpcf7-form>p {
    margin: 0;
}

.wpcf7-text>span:parent>p:parent {
    width: 48%;
    float: left;
}

span.your-name p:parent {
    width: 48%;
    float: left;
}

.wpcf7-form-control {
    outline: none;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    border: none;
    height: 25px;
    padding-left: 1%;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    border: none;
    height: 25px;
    padding-left: 1%;
}

textarea.wpcf7-form-control.wpcf7-textarea {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    border: none;
    margin-top: 2%;
    height: 106px;
    width: 100%;
    padding-left: 1%;
    resize: none;
}

input.wpcf7-form-control.wpcf7-submit {
    width: 80px;
    background: #24bcbf;
    float: right;
    margin-top: 1%;
    cursor: pointer;
    color: #fff;
    border: none;
    height: 30px;
}

div#leftJ>p {
    margin: 30px 20px;
}


/*------------------------------
    GALLERY
------------------------------*/

div#galleryBox {
    overflow: hidden;
    min-height: 100px;
    width: 1300px;
    margin: 0 auto;
    margin-left: -8px;
}

div.galleryItem {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    float: left;
}

a.galleryItemA {
    float: left;
    margin: 5px;
}

div.galleryItem>img {
    position: absolute;
    z-index: 1;
    margin-left: -5px;
}

div.galleryItemTitle {
    width: 250px;
    height: 250px;
    position: absolute;
    text-align: center;
    display: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

div.gallery {
    width: 1030px;
    margin: 0 auto;
    margin-left: -8px;
}

dl.gallery-item {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 30px 30px 0;
}

dl.gallery-item:nth-child(2n) {
    margin: 0 0 30px 0;
}

div.gallery-columns-2 {
    width: 1030px;
    height: 100%;
    float: none;
}

dl.gallery-item>dt>a>img {
    border: none !important;
}

#gallery-1 .gallery-item {
    width: auto;
}

p#galleryP {
    margin-top: 100px;
}

.blured {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    /*transition: 0.5s;*/
}


/*---ALBUM----*/

div.galleryAllItemTitle {
    width: 256px;
    height: 256px;
    position: absolute;
    text-align: center;
    display: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

div.galleryAllItem {
    position: relative;
    float: left;
}

div.galleryAlbum {
    height: 100%;
}


/*------------------------------
    CONTACT
------------------------------*/

section#kontakt {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

div.contactBox {
    height: 400px;
    float: left;
}

div#centerContact {
    background: #d4d3cf;
}

div#rightContact {
    background: #24bcbf;
}

section#kontakt>div>h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    margin: 20px;
}

section#kontakt>div>p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin: 20px;
}

section#kontakt>div>p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin: 20px;
}

section#kontakt>div#rightContact>p, section#kontakt>div#rightContact>h3, section#kontakt>div#rightContact>a, section#kontakt>div#rightContact>span {
    color: #fff;
}

section#kontakt>div#centerContact>p {
    color: #6A6A6A;
}

.contactBox>a {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    margin: 20px;
    color: #000;
    text-decoration: none;
}

.contactBox>span {
    font-size: 26px;
    font-weight: 300;
    color: #000;
}


/*------------------------------
    SUBPAGES
------------------------------*/

div.leftColumnSubPage {
    float: left;
    margin-right: 20px;
}

img.strefaKobietImg {
    width: 300px !important;
}

.leftColumnSubPage>p {
    margin: 0;
}

div.leftColumnSubPage>p>img {
    width: 425px;
    height: auto;
}

div.subSection {
    width: 1005px;
    margin: 0 auto;
}

div#subPageContent {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

div.rightColumnSubPage {
    /*margin-top: 30px;*/
    float: left;
}

div.subPageForm {
    width: 80%;
    margin: 0 auto;
    margin-top: 65px;
    padding-bottom: 50px;
}

div.subPageForm>div>form>p>span>input, div.subPageForm>div>form>p>span>textarea {
    border: 1px solid #777 !important;
}

div.SlideSubPage {
    overflow-x: hidden;
    text-align: center;
}

div.SlideSubPage>img {
    position: relative;
    width: 100%;
    height: auto;
}

div.leftColumnSK {
    width: 50%;
    float: left;
    background: #fee4e3;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
    height: 525px;
}

div.rightColumnSK {
    width: 50%;
    float: left;
    background: #eac6d2;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
    height: 525px;
}

div#subPageContent>div>h3 {
    font-size: 90px;
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

div#subPageContent>div>h4 {
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0;
    text-transform: uppercase;
}

div#subPageContent>div>p {
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}

div.mlodziezowkaText {
    max-width: 1200px;
}

div.mlodziezowkaText>p {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    line-height: 1.7;
    padding-top: 50px;
    float: right;
}

div.mlodziezowkaText>p>span {
    font-size: 32px;
    font-weight: 400;
}

div.mlodziezowkaText>img {
    float: left;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 30px;
}

div.containerM {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background: #d2d97a;
    z-index: -1;
}

div.dzieciBoxes {
    width: 1016px;
    margin: 0 auto;
}

div.dBox {
    width: 250px;
    height: 220px;
    position: relative;
    float: left;
    margin: 2px;
}

div#dBox1 {
    background: #ffedd9;
}

div#dBox2 {
    background: #ffecc4;
}

div#dBox3 {
    background: #fff0af;
}

div#dBox4 {
    background: #ffdd7c;
}

div.dTitle {
    width: 100%;
    height: 60px;
    background: #ff9934;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
}

div.mlodziezowkaText {
    overflow: hidden;
    min-height: 100px;
    background: #d2d97a;
}

div.dContent {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
}

div.dContent>h4 {
    font-size: 21px
}

div.dContent>p {
    font-size: 18px;
}


/*------------------------------
    CONTACT FORM
------------------------------*/

div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    margin-left: 0.5em;
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 4px;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

.showMobileMenu {
    display: none;
}

#mobileSlide {
    display: none;
}


/*------------------------------
    MEDIA QUERY
------------------------------*/

@media screen and (max-width: 980px) {
    div.aboutBg>img {
        left: 0;
    }
    div.aboutText {
        width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    div.aboutText, div.aboutTitle {
        margin-left: 50px;
    }
    div.ytFilms>iframe {
        width: 30%;
    }
    div#galleryBox {
        width: 900px;
        margin: 0 auto;
    }
    a.galleryItemA {
        margin: 0;
    }
    div.galleryItemTitle {
        width: 180px;
        height: 180px;
    }
    div.galleryItem {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (orientation: portrait) {
    dl.gallery-item>dt>a>img {
        width: 100vw;
        height: auto;
    }
    a.galleryItemA {
        width: 50vw;
        height: 50vw;
    }
    div.galleryItem {
        width: 50vw;
        height: 50vw;
    }
    div.newsItem {
        float: none;
        margin-top: 15px;
    }
    div#galleryBox {
        overflow: hidden;
        min-height: 100px;
    }
    div#newsBox {
        width: 100%;
        overflow: hidden;
        min-height: 100px;
    }
    div.contactBox {
        width: 100%;
    }
    div.ytFilms>iframe {
        width: 100vw !important;
        margin: 5px 0;
    }
    div.aboutText {
        margin: 10px;
    }
    div#top_slider {
        display: none;
    }
    h2 {
        font-size: 30px;
    }
    li.aboutTab>a {
        border: none;
    }
    li.aboutTab, li.aboutTab>a {
        width: 100%;
        margin: 10px 0;
        text-align: center;
        padding: 0;
    }
    div#about6>div.aboutText {
        width: 100%;
    }
    div#about4>div.aboutText {
        color: #000;
    }
    section#Jezus {
        overflow: hidden;
        min-height: 100px;
    }
    div#jBg {
        overflow: hidden;
        min-height: 100px;
    }
    #menu-header-menu>li {
        width: 100%;
        text-align: center;
    }
    nav.header_menu>div, .header_menu>div>ul {
        margin: 0;
        background: #fff;
        height: auto;
        z-index: 999;
        line-height: 50px;
    }
    nav.main-nav-scrolled>div.menu-header-menu-container>ul {
        z-index: 999;
        height: 100%;
        line-height: 50px;
    }
    div.menu-header-menu-container {
        position: fixed;
        width: 100%;
        top: 0;
        background: #fff;
        z-index: 999;
        left: 0;
        height: 100vh;
        border: none;
    }
    div#leftJ, div#rightJ {
        width: 100%;
        float: none;
    }
    .wpcf7-form>p {
        width: 100%;
        margin: 10px 0;
    }
    input.wpcf7-form-control.wpcf7-submit {
        margin: 10px 0 0 0;
    }
    div#leftJ>p {
        padding: 30px 20px;
        margin: 0;
    }
    div#jContent>p {
        margin: 10px;
    }
    div.newsItem {
        margin: 0 auto;
    }
    div.aboutBg {
        display: none;
    }
    div#menuHamburger {
        float: right;
        line-height: 80px;
        width: 60px;
        height: 60px;
    }
    div#galleryBox {
        width: 100%;
        margin: 0 auto;
    }
    div.contactBox>a {
        font-size: 20px !important;
    }
    div.gallery-columns-2 {
        width: 100%;
    }
    #gallery-1 .gallery-item {
        float: none;
        margin: 10px auto;
    }
    #showMobileMenu {
        display: block;
    }
    .leftColumnSubPage>p>img {
        width: 100%;
    }
    .showMobileMenu {
        display: block;
    }
    div.aboutBg {
        display: none;
    }
    div.subSection {
        width: 100vw;
    }
    div.subSection>div {
        float: none;
        width: 100%;
    }
    div.subSection>div>iframe, div.subSection>div>p>img {
        width: 100%;
    }
    #mobileSlide {
        display: block;
        width: 100%;
        height: auro;
        text-align: center;
        position: relative;
    }
    #mobileSlide>img {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .siema {
        display: none;
    }
    div.dzieciBoxes {
        width: 100vw;
    }
    div.dzieciBoxes > .dBox {
        width: 100vw;
        float: none;
        margin: 0;
    }
}
